<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>Issue id on Github</th>
    <th>Action</th>
    <th>Title</th>
    <th>Created by User</th>
    <th>State</th>
    <th>Url</th>
  </tr>
  </thead>

  <tbody>
  <% if issues.present? %>
    <% issues.each do |issue| %>
      <tr>
        <td style="width: 15%"><%= issue.issue_id %></td>
        <td style="width: 10%"><%= issue.action %></td>
        <td style="width: 40%"><%= issue.title %></td>
        <td style="width: 15%"><%= issue.user %></td>
        <td style="width: 10%"><%= issue.state %></td>
        <td style="width: 10%">
          <a href="<%= issue.url %>" target="_blank">
            Click Here
          </a>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td>
        <h3>Could not find any issue</h3>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>